Package: com.phillipt.vibe
Name: Vibe
Depends: mobilesubstrate, libactivator
Architecture: iphoneos-arm
Description: Tell the time with vibrations!
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
Version: 1.0-4
Installed-Size: 88
